<!DOCTYPE html>
<h2>Pairings</h2>
<div class="btn-group btn-group-lg" role="group">
    <button type="button" class="btn btn-dark" ng-click="setTab(1)" ng-class="{'active': isSet(1) }">September</button>
    <button type="button" class="btn btn-dark" ng-click="setTab(2)" ng-class="{'active': isSet(2)}">October</button>
    <button type="button" class="btn btn-dark" ng-click="setTab(3)" ng-class="{'active': isSet(3)}">November</button>
</div>
<div class="month" ng-repeat="month in pairCtrl.months">
    <div ng-show="tab === {{$index + 1}}">
        <div class="title">{{ month.name }}</div>
        <div class="subtitle">
            Strategy: <button class="btn btn-dark btn-lg" ng-click="openStrat(strategies[(month.strategy - 1)])">{{ strategies[(month.strategy - 1)].name }}</button>
        </div>
        <div class="subtitle">
            Deployment: <button class="btn btn-dark btn-lg" ng-click="openDeploy(month.deployment)">{{ month.deployment }}</button>
        </div>
        <div class="round" ng-repeat="round in month.pairings">
            <div class="round-title">Round {{ round.round }}</div>
            <div class="round-soulstones">Soulstones: {{ round.soulstones }}</div>
            <div class="round-rules">Special Rules: {{ round.specialrules }}</div>
            <div class="round-schemes">Schemes: <span class="scheme" ng-repeat="scheme in round.schemes"><span ng-click="openScheme(scheme)">{{ schemes[(scheme - 1)].name }}</span></span>
            </div>
            <div class="round-matches">
                <div class="match-title">Matches</div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Player 1</td>
                            <td>Player 2</td>
                            <td>P1 Score</td>
                            <td>P2 Score</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="game in round.games">
                            <td>{{ $index + 1 }}</td>
                            <td ng-class="{ 'bold': game.scoreP1 >= game.scoreP2}">{{ playersCtrl.players[game.p1 - 1].name }}</td>
                            <td ng-class="{ 'bold': game.scoreP1 <= game.scoreP2}">{{ playersCtrl.players[game.p2 - 1].name }}</td>
                            <td class="center">{{ game.scoreP1 }}</td>
                            <td class="center">{{ game.scoreP2 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>