<!DOCTYPE html>
<div class="dialog-contents">
    <h1>The TFL</h1>
    <p>
        This league is going to be the Brooklyn Strategist TFL Conference. Over 3 Months players will receive pairings that they are expected to play each month. Games will be reported and at the end of the league the top 2 will be qualified for the TFL Eastern
        Division Championship at Maplewood Hobby on December 10th.
    </p>
    <p>
        This league is going to be the Brooklyn Strategist TFL Conference. Over 3 Months players will receive pairings that they are expected to play each month. Games will be reported and at the end of the league the top 2 will be qualified for the TFL Eastern
        Division Championship at Maplewood Hobby on December 10th.
    </p>
    <p>
        In this final tournament they will compete for a trophy for them and their store, prizes, and bragging rights.
    </p>
    <h1>The Rules</h1>
    <p>The league will cost each participant $25. This payment will cover 100% prize support for the league. The standard store policy and charges for play space still apply to members of the league. In order to play a game participants will either be expected
        to pay the standard walk in fee of $10 for four hours of play, or be a member of The Brooklyn Strategist which waves table fees. $15 per player of the initial $25 will be submitted to the TFL Head Chris W. The TFL will provide a participation
        prize for every member, plus raffle prizes all participants are eligible for, and prizes for top finishers. The other $10 of the $25 will go to the Brooklyn Strategist for prize pay out specifically to our Conference.</p>
    <p>One of the 3 games in September will be an intro game meant to acclimate you to Malifaux. This will be played with a crew starter box and its contents alone. This game will be specified on your pairings. The other two games in September are played
        at 50 soul stones as per standard TFL rules but must use the master used in your first game. In October and November you will again receive 3 pairings each month but you will be permitted to use any master in your faction.</p>
    <p>All pairings will also come with the schemes and strategy that will be used for that game. These can be found in Wyrd`s Gaining Ground 2016 document.</p>
    <p>Pairings for each month will be sent out by email along with any contact info your opponent has provided (most likely email). It is up to you and you opponent to work out a time for you to meet and play your game before the end of the month. Games
        assigned to a month and not played that month may not be made up. No exceptions. Games can be played: Monday, Tuesday, Thursday, Friday at 6:30PM and after till close, as well as Saturday and Sunday at any time. All of these times of play is space
        permitting, though there should rarely be an issue finding a table at the provided times. Calling the store in advance that day to make sure there are no major events couldn’t hurt.</p>
    <h1>Info</h1>
    <h3>The Championship</h3>
    <p>The top 2 players from our League will be qualified for the TFL Championship taking place on December 10th at Maplewood Hobby, Every conference will have 1-3 champions present. If you are unable to play on that date and had qualified, your slot will
        be passed down to the next highest finisher of our league.</p>
    <h3>Painting Requirements</h3>
    <p>Our section of the TFL will not require painted models. We understand many players are new to the game or just getting in and they may have only just purchased certain models in their collection. That being said, PAINTING WILL BE REQUIRED FOR THE
        DECEMBER 10TH CHAMPIONSHIP AS STATED IN THE GAINING GROUND RULES. If you will not be able to muster a painted force for the final tournament your slot will be handed down to third place and so on until a player with a painted 50ss list can play.
        Not being able to play in the December 10th event despite having finished first will not have any bearing on what prize you receive from the Brooklyn Strategist’s prize pot.</p>
    <h3>The Prizes</h3>
    <p>All participants will receive the TFL participation prize. These will be given out at the Championships on December 10th and the stores two qualifying champion’s will be responsible for bringing back the prizes to give to the store to distribute.</p>
    <p>Prizes from the store pool will be given out to the top finisher, best painted, and one raffle prize. There could be more prizes depending on League attendance.</p>
</div>